* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    font-family: "Futura", "Poppins", sans-serif;
}

:root {
    --verde-primario: rgb(0,178,94);
    --verde-hover: rgb(9, 146, 82);
    --amarelo-primario: rgb(255,202,40);
}

html {
    scroll-behavior: smooth;
  }

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid #dfdfdf;
    background-color: #fff;
    z-index: 9;
}

nav {
    position: fixed;
    right: 10vw;
    top: 40px;
}
nav a {
    color: rgba(000, 000, 000, .5);
    margin: 0 0 0 15px;
    font-size: 15px;
    text-decoration: none;
}

nav a:hover {
    color: rgba(000, 000, 000, .5);
    text-decoration: underline rgba(000, 000, 000, .5) 2px;
}

h1 {
    font-weight: 400;
}

/* IMAGES  */
.imgBg-1 {
    position: absolute;
    top: 250px;
    left: 10vw;
    height: auto;
    width: 50vw;
}

.imgBG-2 {
    position: absolute;
    top: 250px;
    right: 10vw;
    height: auto;
    width: 40vw;
}

.imgBG-3 {
    position: absolute;
    top: 570px;
    left: 10vw;
    height: auto;
    width: 10vw;
}

.imgBG-4 {
    position: absolute;
    top: 163vh;
    left: 10vw;
    height: auto;
    width: 10vw;
}

.imgBG-5 {
    position: absolute;
    top: 110vh;
    right: 10vw;
    height: auto;
    width: 30vw;
} 

.logoNav {
    position: fixed;
    left: 10vw;
    top: 20px;
    height: 52px;
    width: auto;
}

.pfp {
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
}

/* ---- */

.shapeBg1 {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 100px;
    width: 170PX;
    height: 160px;
    background-color: var(--verde-primario);
}
.shapeBg1::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0 0 0 150px;
    width: 55px;
    height: 240px;
    background-color: var(--amarelo-primario);
    z-index: -1;
}

.shapeBg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 100px 0 0;
    width: 180px;
    height: 40px;
    background-color: var(--verde-primario);
}
.shapeBg2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 150px 0 0;
    width: 80px;
    height: 150px;
    background-color: var(--amarelo-primario);
    z-index: -1;
}

/* -------- */

.slogam {
    position: absolute;
    top: 300px;
    right: 10vw;
    width: 25vw;
    height: auto;
    font-size: 2vw;
    line-height: 4.2vw;
}

.slogam a {
    text-decoration: none;
    color: #fff;
    background-color: var(--verde-primario);
    padding: 0.8vw 2vw;
    border-radius: 50px;
    font-weight: 100;
    font-size: 1.5vw;
}
.slogam a:hover {
    background-color: var(--verde-hover);
}

.profissionais {
    font-size: 3.7vw;
}

.profissionais::after {
    content: "";
    position: absolute;
    width: 27vw;
    height: 3vw;
    top: 5vw;
    right: 0;
    background-color: var(--amarelo-primario);
    z-index: -1;
}

.Txt {
    position: absolute;
    top: 200px;
    left: 10vw;
    width: 26vw;
    height: auto;
}

.Txt h1 {
    font-size: 2vw;
    line-height: 4.2vw;
    text-decoration: underline 4px var(--amarelo-primario);
}

.Txt p {
    font-size: 1.2vw;
    line-height: 1.6vw;
    margin-bottom: 2vh;
}

.Txt2 {
    position: absolute;
    top: 120vh;
    left: 10vw;
    width: 26vw;
    height: auto;
}

.Txt2 p {
    font-size: 1.2vw;
    line-height: 1.6vw;
}

.palavrasTraduzidas {
    position: absolute;
    top: 650px;
    left: 20vw;
    width: 26vw;
    height: auto;
}

.duvida {
    position: absolute;
    top: 173vh;
    left: 22vw;
    width: 26vw;
    height: auto;
}

.duvida::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    top: -30px;
    left: -15px;
    background-color: rgba(000, 000, 000, .5);
}

.palavrasTraduzidas::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100px;
    top: -40px;
    left: 20px;
    background-color: rgba(000, 000, 000, .5);
}

.palavrasTraduzidas p {
    margin-left: 40px;
    font-size: 22px;
    line-height: 1.6vw;
    color: black;
}

.scroolBtn {
    position: absolute;
    bottom: 20px;
    height: 50px;
    width: 50px;
    right: 48.5%;
    text-align: center;
    margin: auto;
    color: #fff;
    background-color: var(--verde-primario);
    border-radius: 50px;
}

.carasLocway {
    position: absolute;
    top: 115vh;
    right: 10vw;
    width: 40vw;
    height: auto;
}

.carasLocway h1 {
    font-size: 2vw;
    line-height: 4.2vw;
    font-weight: 600;
}

.carasLocway p {
    font-size: 1vw;
    line-height: 1.6vw;
    margin-bottom: 0.6vw;
}

.flex-1 {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    margin-bottom: 16vw;
}
.flex-1 > div {
    background-color: #f1f1f1;
    margin: 1vw 2vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    box-shadow: 0 0 16px 2px rgba(000, 000, 000, .3);
}

.flex-2 {
    display: flex;
    position: absolute;
    left: 10vw;
    width: 50vw;
    top: 110vh;
    gap: 20px;
}

.flex-2 > div {
    background-color: #dfdfdf;
}

.flex-2 h1 {
    color: var(--verde-primario);
    font-size: 1.4vw;
    margin-bottom: 20px;
}

.flex-2 h2 {
    color: var(--verde-primario);
    font-weight: 400;
    font-size: 1.2vw;
}

.flex-2 p {
    font-size: 1.2vw;
    line-height: 1.6vw;
    margin-bottom: 2vh;
}

.Txt3 {
    width: 48vw;
}

.Txt4 {
    width: 38vw;
}

.perfil {
    display: flex;
    position: absolute;
    top: 15vw;
    left: 10vw;
    right: 10vw;
    height: auto;
    background-color: var(--verde-primario);
    border-radius: 50px 260px 260px 50px;
}

.perfil h1, 
.perfil h2,
.perfil p {
    color: #fff;
    margin-left: 2.5vw;
}

.perfil h1 {
    margin-top: 1.2vw;
    margin-bottom: 0.8vw;;
    font-size: 3vw;
    font-weight: 600;
}

.perfil h2 {
    font-size: 1.3vw;
    font-weight: 600;
    margin-bottom: 0.8vw;
}

.perfil p {
    margin-bottom: 0.8vw;
    padding-right: 6vw;
}

.perfilFoto {
    width: 27vw;
    height: auto;
    border-radius: 50%;
}




@media only screen and (max-width: 1200px) {
    .Txt h1 {
        font-size: 35px;
        line-height: 65px;
    }

    .Txt p {
        font-size: 18px;
        line-height: 25px;
    }

    .Txt {
        width: 300px;
    }

    .Txt2 h1 {
        font-size: 35px;
        line-height: 65px;
    }

    .Txt2 p {
        font-size: 18px;
        line-height: 25px;
    }

    .Txt2 {
        width: 300px;
    }

    .palavrasTraduzidas p {
        font-size: 18px;
        line-height: 25px;
    }
}


